<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daily</title>
  <!-- import -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <!-- <link href="http://fonts.cdnfonts.com/css/tw-cen-mt-condensed" rel="stylesheet">     -->

  <link rel="stylesheet" href="../styles/daily.css" />
</head>

<body>
  <main class="main">
    <!-- current date heading and yesterday/tomorrow buttons -->
    <div class="page-heading">
      <!--Bookmark-->
      <div class="bookmark">
        <div class="solid-bookmark-div"></div>
        <div class="bookmark-cutout-div"></div>
      </div>

      <!-- Yesterday Button -->
      <div class="back-button">
        <button id="yes-btn" type="button" class="button-circle">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>

      <h1 class="daily-date" id ="daily-date">Date</h1>

      <!-- Tomorrow Button -->
      <div class="forward-button">
        <button id="tmr-btn" type="button" class="button-circle">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <!-- Search Bar -->
    <!-- <div class="search-bar">
        <i class="fas fa-search" id="search-icon"></i>
        <input type="text" placeholder="Search" class="search-input" />
      </div> -->

      <!-- Tutorial -->
      <div id="tutorial-overlay">
        <button id="close-tutorial">CLOSE</button>
        <img id="tutorial" src="https://i.ibb.co/Pj881Xs/tutorial.png" alt=":(">
      </div>

    <!-- help/notifications/account menu -->
    <div class="account-bar">
      <button type="button" class="help-button" id="help">
          <i class="far fa-question-circle"></i>
        </button>
        <!-- <button type="button" class="notification-button">
          <i class="far fa-bell"></i>
        </button> -->
      <a href="/settings">
        <button type="button" class="account-button">
          <i class="fas fa-user-circle"></i>
        </button>
      </a>
    </div>

    <!-- Main Content -->
    <div class="daily-grid">
      <!-- Events -->
      <div class="section-header" id="events-header">
        <h1 class="heading" id="events-heading">Events</h1>
        <!-- Add Event Button -->
        <div class="add-button" id="add-event">
          <button type="button" class="button-circle">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      
      <!-- Events -->
      <div id="events-container">
        <div id="events-content">
        </div>
      </div>

      <!-- Notes -->
      <div class="section-header" id="notes-header">
        <h1 class="heading" id="notes-heading">Notes</h1>
        <!-- Add Note Button -->
        <div class="add-button" id="add-note">
          <button type="button" class="button-circle">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div id="notes-container">
        <div id="notes-content">
          <!-- <textarea id="notes" rows="41" cols="80"></textarea> -->
        </div>
      </div>

      <!-- Tasks -->
      <div class="section-header" id="tasks-header">
        <h1 class="heading" id="tasks-heading">Tasks</h1>
        <!-- Add Task Button -->
        <div class="add-button" id="add-task">
          <button type="button" class="button-circle">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div id="tasks-container">
        <div id="tasks-content"></div>
      </div>
    </div>

    <!-- Overlays -->
    <div class="overlay">

      <!-- Add Task Menu -->
      <div id="task-overlay">
          <!-- ADD TASK COMPONENT -->
          <div class="create-task"></div>
      </div>

      <!-- Add Note Menu -->
      <div id="note-overlay">
            <!-- ADD NOTE COMPONENT -->
            <div class="create-note"></div>
      </div>

      <!-- Add Event Menu -->
      <div id="event-overlay">
            <!-- ADD EVENT COMPONENT -->
            <div class="create-event"></div>
      </div>
    </div>

    <!-- Left Navigation -->
    <div class="left-nav"></div>

    <!-- Right Navigation -->
    <div class="right-nav">
      <div class="calendar-region">
        <div class="month-selector">
          <button type="button"  id="preMonth" class="left-month-button">
            <i class="fas fa-chevron-left"></i>
          </button>
          <h3 class="current month" id="current-month">May</h3>
          <button type="button"  id="nxtMonth" class="right-month-button">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="month-days">
          <div class="date-number">26</div>
          <div class="date-number">27</div>
          <div class="date-number">28</div>
          <div class="date-number">29</div>
          <div class="date-number">30</div>
          <div class="date-number">1</div>
          <div class="date-number">2</div>
          <div class="date-number">3</div>
          <div class="date-number">4</div>
          <div class="date-number">5</div>
          <div class="date-number">6</div>
          <div class="date-number">7</div>
          <div class="date-number">8</div>
          <div class="date-number">9</div>
          <div class="date-number">10</div>
          <div class="date-number">11</div>
          <div class="date-number">12</div>
          <div class="date-number">13</div>
          <div class="date-number">14</div>
          <div class="date-number">15</div>
          <div class="date-number">16</div>
          <div class="date-number">17</div>
          <div class="date-number">18</div>
          <div class="date-number">19</div>
          <div class="date-number">20</div>
          <div class="date-number">21</div>
          <div class="date-number">22</div>
          <div class="date-number">23</div>
          <div class="date-number">24</div>
          <div class="date-number">25</div>
          <div class="date-number">26</div>
          <div class="date-number">27</div>
          <div class="date-number">28</div>
          <div class="date-number">29</div>
          <div class="date-number">30</div>
          <div class="date-number">31</div>
          <div class="date-number">1</div>
          <div class="date-number">2</div>
          <div class="date-number">3</div>
          <div class="date-number">4</div>
          <div class="date-number">5</div>
          <div class="date-number">6</div>
        </div>
      </div>
      <div>
        <hr class="calendar-seperator" />
        <h2 class="goals-label">Goals</h2>
      </div>
      <div class="goals-container">
        <div class="goals-element">Study for at least 2 hours</div>
        <div class="goals-element">Maintain workout schedule</div>
      </div>
    </div>
    
  </main>

  <!-- Main Script -->
  <!-- <script src="../scripts/daily.js" type="module"></script> -->
  <script src="../components/task.js"></script>
  <script src="../components/event.js"></script>
  <script src="../components/note.js"></script>
  <script src="../components/left-nav-component.js" type="module"></script>
  <script src="../components/create-note.js" type="module"></script>
  <script src="../components/create-event.js" type="module"></script>
  <script src="../components/create-task.js" type="module"></script>
  <script src="../scripts/daily.js" type="module"></script>

  <!-- left-nav web component -->
  <script src="../components/left-nav-component.js" type="module"></script>
  <script src="../components/create-collection-modal.js" type="module"></script>
  <script src="../scripts/createCollectionModal.js" type="module"></script>
</body>

</html>