<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily</title>
    <!-- import -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <link href="http://fonts.cdnfonts.com/css/tw-cen-mt-condensed" rel="stylesheet">     -->

    <link rel="stylesheet" href="../styles/daily.css" />
</head>


<body>
    <main class="main">
        <!-- bookmark here (click on to get back to current day) -->


        <!-- current date heading and yesterday/tomorrow buttons -->
        <div class="page-heading">

            <!-- Yesterday Button -->
            <div class="back-button">
                <button type="button" class="button-circle"><i class="fas fa-chevron-left"></i></button>
            </div>

            <h1 class="daily-date">May 5, 2021</h1>

            <!-- Tomorrow Button -->
            <div class="forward-button">
                <button type="button" class="button-circle"><i class="fas fa-chevron-right"></i></button>
            </div>

        </div>

        <!-- search bar here -->


        <!-- help/notifications/account menu here -->





        <!-- Main Content -->
        <div class="daily-grid">
            <!-- Events -->
            <div class="section-header" id="events-header">
                <h1 class="heading" id="events-heading">Events</h1>
                <!-- Add Event Button (submit) -->
                <div class="add-button" id="add-event">
                    <button type="submit" value="Submit" class="button-circle" id="submitButton">
                    <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div id="events-container">
                <div id="events-content">
                    <!-- Time Picker for Events -->
                    <div class="time-picker">
                        <div class="time-col">
                            <!-- <div class="header timezone">PDT</div> -->
                            <div class="timeGroup">
                                <div class="timeSlot">8 AM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">9 AM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">10 AM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">11 AM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">12 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">1 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">2 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">3 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">4 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">5 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">6 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">7 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">8 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">9 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                            <div class="timeGroup">
                                <div class="timeSlot">10 PM</div>
                                <div class="timeSlot"></div>
                            </div>
                        </div>

                        <div class="ac-grid">
                            <div class="col">
                            </div>
                            <div class="slots slots-edit">
                                <div class="slotGroup">
                                    <div id="slot-0" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-1" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-2" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-3" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-4" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-5" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-6" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-7" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-8" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-9" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-10" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-11" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-12" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-13" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-14" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-15" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-16" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-17" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-18" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-19" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-20" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-21" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-22" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-23" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-24" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-25" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-26" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-27" class="slot" style="background-color: transparent;"></div>
                                </div>
                                <div class="slotGroup">
                                    <div id="slot-28" class="slot" style="background-color: transparent;"></div>
                                    <div id="slot-29" class="slot" style="background-color: transparent;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Notes -->
            <div class="section-header" id="notes-header">
                <h1 class="heading" id="notes-heading">Notes</h1>

                <!-- stickers/photos/audio/video/link menu -->
                <div id="add-media-container">
                    <!-- add stickers/emoji button -->
                    <div class="add-media-button" id="sticker-button">
                        <button type="button" class="button-circle"><i class="far fa-grin"></i></button>
                    </div>

                    <!-- add photo button -->
                    <div class="add-media-button" id="photo-button">
                        <button type="button" class="button-circle"><i class="fas fa-images"></i></button>
                    </div>

                    <!-- add audio button -->
                    <div class="add-media-button" id="audio-button">
                        <button type="button" class="button-circle"><i class="fas fa-microphone"></i></button>
                    </div>

                    <!-- add video button -->
                    <div class="add-media-button" id="video-button">
                        <button type="button" class="button-circle"><i class="fas fa-play"></i></button>
                    </div>

                    <!-- add link button -->
                    <div class="add-media-button" id="link-button">
                        <button type="button" class="button-circle"><i class="fas fa-link"></i></button>
                    </div>
                </div>
            </div>
            <div id="notes-container">
                <div id="notes-content">
                    <textarea id="notes" rows="41" cols="80"></textarea>
                </div>

            </div>

            <!-- Tasks -->
            <div class="section-header" id="tasks-header">
                <h1 class="heading" id="tasks-heading">Tasks</h1>
                <!-- Add Task Button -->
                <div class="add-button" id="add-task">
                    <button type="button" class="button-circle"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            <div id="tasks-container">
                <div id="tasks-content">
                </div>

            </div>
        </div>

    </main>

</body>

</html>