<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>

    <link rel="stylesheet" href="../styles/dashboard.css" />
    </head>
    <body>
        <main>
            <h1>Today</h1>
            <div class="search-bar">
                <form id="nav-bar">
                    <input type="search" id="query" name="qu" placeholder="Search">
                </form>
            </div>
            <div class="today-view">
                <h2>Todays Notes</h2>
                <div class="today-container">
                    <p>Place Holder for journal entry object</p>
                </div>
            </div>
            <div class="task-view">
                <h2>Tasks</h2>
                <div class="task-container">
                    <p>Place Holder for journal entry object</p>
                </div>
            </div>
            <div class="event-view">
                <h2>Events</h2>
                <div class="event-container">
                    <p>Place Holder for journal entry object</p>
                </div>
            </div>
        </main>
    </body>
</html>