<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/dashboard.css" />
    </head>
    <body>
        <main class="main">
            <div class="title">
                <h1 class="title-text">Today</h1>
            </div>
            <div class="search-bar">
                <i class="fas fa-search" id="search-icon"></i>
                <input type="text" placeholder="Search" class="search-input">
            </div>
            <div class="account-bar">
                <button type="button" class="help-button"><i class="far fa-question-circle"></i></button>
                <button type="button" class="notification-button"><i class="far fa-bell"></i></button>
                <button type="button" class="account-button"><i class="fas fa-user-circle"></i></button>
            </div>

            <div class="dashboard-view">
                <div class="today-view">
                    <h2 class="dashboard-title">Todays Notes</h2>
                    <div class="today-container">
                        <p>Place Holder for journal entry object</p>
                    </div>
                </div>
                <div class="task-view">
                    <h2 class="dashboard-title">Tasks</h2>
                    <div class="task-container">
                        <p>Place Holder for journal entry object</p>
                    </div>
                </div>
                <div class="event-view">
                    <h2 class="dashboard-title">Events</h2>
                    <div class="event-container">
                        <p>Place Holder for journal entry object</p>
                    </div>
                </div>
            </div>

            <div class="left-nav"></div>
            
            <div class="right-nav">
                <div class="calendar-region">
                    <div class="month-selector">
                        <button type="button" class=left-month-button><i class="fas fa-chevron-left"></i></button>
                        <h3 class="current month">May</h3>
                        <button type="button" class="right-month-button"><i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="month-days">
                        <div class="date-number">26</div>
                        <div class="date-number">27</div>
                        <div class="date-number">28</div>
                        <div class="date-number">29</div>
                        <div class="date-number">30</div>
                        <div class="date-number">1</div>
                        <div class="date-number">2</div>
                        <div class="date-number">3</div>
                        <div class="date-number">4</div>
                        <div class="date-number">5</div>
                        <div class="date-number">6</div>
                        <div class="date-number">7</div>
                        <div class="date-number">8</div>
                        <div class="date-number">9</div>
                        <div class="date-number">10</div>
                        <div class="date-number">11</div>
                        <div class="date-number">12</div>
                        <div class="date-number">13</div>
                        <div class="date-number">14</div>
                        <div class="date-number">15</div>
                        <div class="date-number">16</div>
                        <div class="date-number">17</div>
                        <div class="date-number">18</div>
                        <div class="date-number">19</div>
                        <div class="date-number">20</div>
                        <div class="date-number">21</div>
                        <div class="date-number">22</div>
                        <div class="date-number">23</div>
                        <div class="date-number">24</div>
                        <div class="date-number">25</div>
                        <div class="date-number">26</div>
                        <div class="date-number">27</div>
                        <div class="date-number">28</div>
                        <div class="date-number">29</div>
                        <div class="date-number">30</div>
                        <div class="date-number">31</div>
                        <div class="date-number">1</div>
                        <div class="date-number">2</div>
                        <div class="date-number">3</div>
                        <div class="date-number">4</div>
                        <div class="date-number">5</div>
                        <div class="date-number">6</div>
                    </div>
                </div>
                <div>
                    <hr class="calendar-seperator">
                    <h2 class="goals-label">Goals</h2>
                </div>
                <div class="goals-container">
                    <div class="goals-element">Study for at least 2 hours</div>
                    <div class="goals-element">Maintain workout schedule</div>
                </div>
            </div>

            <!-- Main Script -->
            <script src="../scripts/dashboard.js" type="module"></script>
            <script src="../components/task.js"></script>
            <script src="../components/event.js"></script>
            <script src="../components/note.js"></script>
        </main>

        <!-- left-nav web component -->
        <script src="../components/left-nav-component.js" type="module"></script>
    </body>
</html>
