<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class='title'>User Setting</title>

    <!--Main CSS-->
    <link rel="stylesheet" href="../styles/user_setting.css" />
</head>

<body>
    <main>
        <div class="font-setting">
            <form action="" method="post">
                <section>
                    <!-- <legend>Fonts&Color: </legend> -->
                    <div class="section">
                        <h5 class="category">Section</h5>
                        <select id="navigation">
                            <option value="reading-collection">Reading Collection</option>
                            <option value="grocery-list-collection">Grocery List Collection</option>
                            <option value="bucket-list-collection">Bucket List Collection</option>
                            <option value="finance-planner-collection">Finance Planner Collection</option>
                            <option value="fitness-tracker-collection">Fitness Tracker Collection</option>
                            <option value="daily-index">Daily Index</option>
                            <option value="weekly-index">Weekly Index</option>
                            <option value="monthly-index">Monthly Index</option>
                            <option value="quarterly-index">Quarterly Index</option>
                        </select>
                    </div>
                    <div class="sub-color">
                        <h5 class="category">Sub Color</h5>
                        <!--TODO add color wheel for color selection-->
                        <!--TODO get Hex code of selected color-->
                        <p class="hex-code">Color hex code</p>
                        <input type="color" src="some/color_path.png" name="upload-color" class="upload-btn"
                            id="upload-color" />
                    </div>
                    <div class="font-heading">
                        <h5 class="category">Font-Heading</h5>
                        <!--TODO add list of fonts based on font DB or API-->
                        <select id="font">
                            <option value="add-fonts">Add Fonts Function Using API/3rd Database</option>
                        </select>
                        <!--TODO have an image that represents upload button-->
                        <input type="image" src="some/path.png" name="upload-font" class="upload-btn"
                            id="upload-font" />
                    </div>
                    <div class="font-body">
                        <h5 class="category">Font-Body</h5>
                        <select id="font">
                            <!--TODO add list of fonts based on font DB or API// pull fonts from browser-->
                            <option value="add-fonts">Add Fonts Function Using API/3rd Database</option>
                            <!--TODO have an image that represents upload button-->
                        </select>
                        <input type="image" src="some/path.png" name="upload-font" class="upload-btn"
                            id="upload-font" />
                    </div>
                    <div class="main-color">
                        <h5 class="category">Main Color</h5>
                        <!--TODO add color wheel for color selection-->
                        <!--TODO get Hex code of selected color-->
                        <p class="hex-code">Color hex code</p>
                        <input type="color" src="some/color_path.png" name="upload-color" class="upload-btn"
                            id="upload-color" />
                    </div> <br><br>
                    <button type="submit" class="save-changes">Save Changes</button>
                    <!--TODO restore default setting and positioning of button-->
                    <button type="reset" class="restore-default">Restore defaults</button>
                    <!--TODO save changes of setting and apply this to the app-->
                </section>
            </form>
        </div>
    </main>
</body>

</html>