<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="../styles/forgot-password.css" />
</head>

<body>
  <div id="fb-root"></div>
  <main>
    <div class="row">
      <div class="column hero-banner">
        <img class="column hero-banner-image" src="https://i.ibb.co/0nPxm3j/Forgot-Password.png" alt="" />
      </div>
      <div class='bookmark'>
        <img src="https://i.ibb.co/LtnwkkD/Sign-In-Bookmark.png" alt="">
      </div>
      <div class="column reset-form">
        <form>
          <img src="../../../admin/branding/logo256.png" alt="Avatar" class="avatar" />
          <br />
          <h1 class="header">Forgot Password</h1>
          <h3 class="subheader">
            Enter the email address associated with your account and we will
            send you a link to reset your password.
          </h3>
          <br />
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Type your email here..." />
          <br />
          <br />
          <a href="/">Forgot password?</a>
          <div class="submit-btn-container">
            <input class="submit-btn" type="submit" value="Submit" />
          </div>
          <a class="sign-up" href="/signup">
            Don't have an account? Create an account today!
          </a>
        </form>
      </div>
    </div>
  </main>
  <!-- Scripts -->
  <script src="../scripts/forgotPassword.js" type="module"></script>
</body>

</html>