<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../styles/index.css" />
</head>

<body>
    <main class="main">
        <div class="title">
            <h1 class="title-text">Index</h1>
        </div>
        <div class="content-area">
            <div class="index">
                <div class="entries-label">
                    Entries
                </div>

                <div class="search-bar">
                    <i class="fas fa-search" id="search-icon"></i>
                    <input type="text" placeholder="Search" class="search-input">
                </div>

                <div class="entry" id="entry-1">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 29, 2021
                </div>
                <div class="entry" id="entry-2">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 28, 2021
                </div>
                <div class="entry" id="entry-3">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 27, 2021
                </div>
                <div class="entry" id="entry-4">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 26, 2021
                </div>
                <div class="entry" id="entry-5">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 25, 2021
                </div>
                <div class="entry" id="entry-6">
                    <img class="bookmark-gold" src="https://i.ibb.co/7YLH0xH/bookmark-gold.png" alt="bookmark">
                    April 24, 2021
                </div>
            </div>
        </div>
    </main>

    <!-- Main Script -->
</body>

</html>