<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Two-Do</title>
    <link rel="stylesheet" href="/source/client/styles/monthly.css">
</head>

<body class="main">
    <div class="left-nav">
        <img src="/admin/branding/logo500.png" alt="Two-Do logo" class="logo">
        <h1 class="navigation-title">Index</h1>
        <h2 class="index-link"><a href="" class="link-text">Daily</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Weekly</a></h2>
        <h2 class="current-link"><a href="" class="currrent-link-text">Monthly</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Quarterly</a></h2>
        <br>
        <h1 class="navigation-title">Collections</h1>
        <h2 class="collections-link"><a href="" class="link-text">Grocery List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Bucket List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Finance Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Fitness Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Reading Collection</a></h2>
        <button type="button" class="collections-button">v</button>

    </div>

    <div class="month-display">
        <button type="button" class="period-button">&lt</button>
        <h1 class="current-month">May 2021</h1>
        <button type="button" class="period-button">&gt</button>
    </div>
    <div class="search-bar">
        <img src="" alt="" class="search-icon">
        <input type="text" placeholder="Search" class="search-input">
    </div>
    <div class="account-bar">
        <button type="button" class="help-button"></button>
        <button type="button" class="notification-button"></button>
        <button type="button" class="account-button"></button>
    </div>

    <div class="content-region">
        <div class="day">Sunday</div>
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
        <div class="date">26</div>
        <div class="date">27</div>
        <div class="date">28</div>
        <div class="date">29</div>
        <div class="date">30</div>
        <div class="date">1</div>
        <div class="date">2</div>
        <div class="date">3</div>
        <div class="date">4</div>
        <div class="date">5</div>
        <div class="date">6</div>
        <div class="date">7</div>
        <div class="date">8</div>
        <div class="date">9</div>
        <div class="date">10</div>
        <div class="date">11</div>
        <div class="date">12</div>
        <div class="date">13</div>
        <div class="date">14</div>
        <div class="date">15</div>
        <div class="date">16</div>
        <div class="date">17</div>
        <div class="date">18</div>
        <div class="date">19</div>
        <div class="date">20</div>
        <div class="date">21</div>
        <div class="date">22</div>
        <div class="date">23</div>
        <div class="date">24</div>
        <div class="date">25</div>
        <div class="date">26</div>
        <div class="date">27</div>
        <div class="date">28</div>
        <div class="date">29</div>
        <div class="date">30</div>
        <div class="date">31</div>
        <div class="date">1</div>
        <div class="date">2</div>
        <div class="date">3</div>
        <div class="date">4</div>
        <div class="date">5</div>
        <div class="date">6</div>
    </div>

    <div class="right-nav">
        <div class="key-container">
            <h2 class="key-label">Key</h2>
            <div class="key-element">Workout</div>
            <div class="key-element">Exam</div>
            <div class="key-element">Study</div>
            <div class="key-element">Homework</div>
        <div>
        <hr class="calendar-seperator">
        <div class="goals-container">
            <h2 class="goals-label">Goals</h2>
            <div class="goals-element">Study for at least 2 hours</div>
            <div class="goals-element">Maintain workout schedule</div>
        </div>

    </div>
</body>

</html>