<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../styles/profile.css" />
  </head>

  <body>
    <main class="main">
      <h1 class="profile-header">Profile</h1>
      <div class="content-area">
      <div class="profile">
        <form action="" method="post">
          <section>
            <div class="name">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="John Doe" />
            </div>
            <div class="username">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="username123"
              />
            </div>
          </section>

          <br style="clear: both" />

          <section>
            <div class="gender">
              <label for="gender">Gender</label>
              <input type="text" id="gender" name="gender" placeholder="Male" />
            </div>
            <div class="birthday">
              <label for="birthday">Birthday</label>
              <input
                type="text"
                id="birthday"
                name="birthday"
                placeholder="XX/XX/XX"
              />
            </div>
          </section>

          <br style="clear: both" />

          <section>
            <div class="email">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="email123@placeholder.com"
              />
            </div>
            <div class="phone-number">
              <label for="number">Phone Number</label>
              <input
                type="text"
                id="number"
                name="number"
                placeholder="ex. (123) 456-7890"
              />
            </div>
          </section>

          <br style="clear: both" />
          <div class="save">
            <input class="save-btn" type="submit" value="Save Changes" />
          </div>
        </form>
      </div>
      <button class="nav-btn">
        <i class="arrow-down"></i>
      </button>
    </div>
    </main>

    <!-- Main Script -->
  </body>
</html>
