<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Two-Do</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/source/client/styles/semester-quarter.css">
</head>

<body class="page">
    <div class="navigation">
        <img src="/admin/branding/logo500.png" alt="Two-Do logo" class="logo">
        <h1 class="navigation-title">Index</h1>
        <h2 class="index-link"><a href="" class="link-text">Daily</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Weekly</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Monthly</a></h2>
        <h2 class="current-link"><a href="" class="current-link-text">Quarterly</a></h2>
        <br>
        <h1 class="navigation-title">Collections</h1>
        <h2 class="collections-link"><a href="" class="link-text">Grocery List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Bucket List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Finance Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Fitness Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Reading Collection</a></h2>
        <button type="button" class="collections-button">v</button>

    </div>

    <div class="academic-period">
        <button type="button" class="period-button">&lt</button>
        <h1 class="current-period">Spring '21</h1>
        <button type="button" class="period-button">&gt</button>
    </div>
    <div class="search-bar">
        <img src="" alt="" class="search-icon">
        <input type="text" placeholder="Search" class="search-input">
    </div>
    <div class="account-bar">
        <button type="button" class="help-button"></button>
        <button type="button" class="notification-button"></button>
        <button type="button" class="account-button"></button>
    </div>
    <div class="content-region">
        <div>
            <h2 class="week-header-current">Week</h2>
            <h2 class="week-number-current">1</h2>
        </div>
        <div class="week-content-top">
        </div>
        <div>
            <h2 class="week-header-other">Week</h>
                <h2 class="week-number-other">2</h2>
        </div>
        <div class="week-content-middle">
        </div>
        <div>
            <h2 class="week-header-other">Week</h>
                <h2 class="week-number-other">3</h2>
        </div>
        <div class="week-content-bottom">
        </div>
        <button type="button" class="content-button">v</button>
    </div>
    <div class="right-info-bar">
        <div class="calendar-region">
            <div class="month-selector"></div>
            Calendar Area
        </div>
        <div>
            <hr class="calendar-seperator">
            <h1 class="upcoming-header">Upcoming!</h1>
        </div>
        <div class="tasks-header">
            <h2 class="tasks-title">Tasks</h2>
            <button type="button" class="tasks-button">&gt</button>
        </div>
        <div class="tasks-content">Tasks Placeholder</div>
        <div class="events-header">
            <h2 class="events-title">Events</h2>
            <button type="button" class="events-button">&gt</button>
        </div>
        <div class="events-content">Events Placeholder</div>
    </div>
</body>

</html>