<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Two-Do</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/semester-quarter.css" />
</head>

<body>
  <main class="main">
    <!-- Top Left Header -->
    <div class="academic-period">
      <!--Bookmark-->
      <div class="bookmark">
        <div class="solid-bookmark-div"></div>
        <div class="bookmark-cutout-div"></div>
      </div>
      <div class="back-button">
        <button type="button" class="button-circle">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
      <h1 class="current-period">Spring '21</h1>
      <div class="forward-button">
        <button type="button" class="button-circle">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <!-- Top Center Search Bar -->
    <!-- <div class="search-bar">
        <i class="fas fa-search" id="search-icon"></i>
        <input type="text" placeholder="Search" class="search-input" />
      </div> -->
    <!-- Top  Right Account Bar -->
    <div class="account-bar">
      <!-- <button type="button" class="help-button">
          <i class="far fa-question-circle"></i>
        </button>
        <button type="button" class="notification-button">
          <i class="far fa-bell"></i>
        </button> -->
      <a href="/settings">
        <button type="button" class="account-button">
          <i class="fas fa-user-circle"></i>
        </button>
      </a>
    </div>
    <!-- Center Content Region -->
    <div class="content-region">
      <div>
        <h2 class="week-header-current">Week</h2>
        <h2 class="week-number-current">1</h2>
      </div>
      <div class="week-content-top">
        <div id="note-container-0" class="notes-container">
          <p></p>
        </div>
        <div id="task-container-0" class="task-container">
          <p></p>
        </div>
        <button type="button" id="add-task" class="button-circle">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div>
        <h2 class="week-header-other">Week</h2>
        <h2 class="week-number-other">2</h2>
      </div>
      <div class="week-content-middle">
        <div id="note-container-1" class="notes-container">
          <p></p>
        </div>
        <div id="task-container-1" class="task-container">
          <p></p>
        </div>
        <button type="button" id="add-task" class="button-circle">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div>
        <h2 class="week-header-other">Week</h2>
        <h2 class="week-number-other">3</h2>
      </div>
      <div class="week-content-bottom">
        <div id="note-container-2" class="notes-container">
          <p></p>
        </div>
        <div id="task-container-2" class="task-container">
          <p></p>
        </div>
        <button type="button" id="add-task" class="button-circle">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <button type="button" class="content-button">
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <!-- Left Navigation Region -->
    <div class="left-nav"></div>
    <!-- Right Navigation Region -->
    <div class="right-nav">
      <div class="calendar-region">
        <div class="month-selector">
          <button type="button" class="left-month-button">
            <i class="fas fa-chevron-left"></i>
          </button>
          <h3 class="current month">May</h3>
          <button type="button" class="right-month-button">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="month-days">
          <div class="date-number">26</div>
          <div class="date-number">27</div>
          <div class="date-number">28</div>
          <div class="date-number">29</div>
          <div class="date-number">30</div>
          <div class="date-number">1</div>
          <div class="date-number">2</div>
          <div class="date-number">3</div>
          <div class="date-number">4</div>
          <div class="date-number">5</div>
          <div class="date-number">6</div>
          <div class="date-number">7</div>
          <div class="date-number">8</div>
          <div class="date-number">9</div>
          <div class="date-number">10</div>
          <div class="date-number">11</div>
          <div class="date-number">12</div>
          <div class="date-number">13</div>
          <div class="date-number">14</div>
          <div class="date-number">15</div>
          <div class="date-number">16</div>
          <div class="date-number">17</div>
          <div class="date-number">18</div>
          <div class="date-number">19</div>
          <div class="date-number">20</div>
          <div class="date-number">21</div>
          <div class="date-number">22</div>
          <div class="date-number">23</div>
          <div class="date-number">24</div>
          <div class="date-number">25</div>
          <div class="date-number">26</div>
          <div class="date-number">27</div>
          <div class="date-number">28</div>
          <div class="date-number">29</div>
          <div class="date-number">30</div>
          <div class="date-number">31</div>
          <div class="date-number">1</div>
          <div class="date-number">2</div>
          <div class="date-number">3</div>
          <div class="date-number">4</div>
          <div class="date-number">5</div>
          <div class="date-number">6</div>
        </div>
      </div>
      <div>
        <hr class="calendar-seperator" />
        <h1 class="upcoming-header">Upcoming!</h1>
      </div>
      <div class="tasks-header">
        <h2 class="tasks-title">Tasks</h2>
        <button type="button" class="tasks-button">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="tasks-content"></div>
      <div class="events-header">
        <h2 class="events-title">Events</h2>
        <button type="button" class="events-button">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="events-content"></div>
    </div>
  </main>

  <!-- left-nav web component -->
  <script src="../components/left-nav-component.js" type="module"></script>
  <script src="../components/create-task.js" type="module"></script>
  <script src="../scripts/semester-quarter.js" type="module"></script>
  <script src="../components/task.js" type="module"></script>
</body>

</html>