<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Two-Do</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/source/client/styles/semester-quarter.css">
</head>

<body class="page">
  <div class="academic-period">
    <div class="back-button">
      <button type="button" class="button-circle"><i class="fas fa-chevron-left"></i></button>
    </div>
    <h1 class="current-period">Spring '21</h1>
    <div class="forward-button">
      <button type="button" class="button-circle"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="content-region">
    <div>
      <h2 class="week-header-current">Week</h2>
      <h2 class="week-number-current">1</h2>
    </div>
    <div class="week-content-top">
    </div>
    <div>
      <h2 class="week-header-other">Week</h2>
      <h2 class="week-number-other">2</h2>
    </div>
    <div class="week-content-middle">
    </div>
    <div>
      <h2 class="week-header-other">Week</h2>
      <h2 class="week-number-other">3</h2>
    </div>
    <div class="week-content-bottom">
    </div>
    <button type="button" class="content-button"><i class="fas fa-chevron-down"></i></button>
  </div>
  <div class="right-info-bar">
    <div class="calendar-region">
      <div class="month-selector"></div>
      Calendar Area
    </div>
    <div>
      <hr class="calendar-seperator">
      <h1 class="upcoming-header">Upcoming!</h1>
    </div>
    <div class="tasks-header">
      <h2 class="tasks-title">Tasks</h2>
      <button type="button" class="tasks-button"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="tasks-content">Tasks Placeholder</div>
    <div class="events-header">
      <h2 class="events-title">Events</h2>
      <button type="button" class="events-button"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="events-content">Events Placeholder</div>
  </div>
</body>

</html>