<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="http://110656900996-fi7ahcr6josugvshub5bh4mm0lbl9m69.apps.googleusercontent.com/"
    />
    <title>Sign In</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../styles/signin.css" />
  </head>
  <body>
    <div id="fb-root"></div>
    <main>
      <div class="row">
        <div class="column hero-banner">
          <img class="column hero-banner-image" src="https://i.ibb.co/mBnjFw3/laurel-wreath.png" alt="" />
        </div>
        <div class="column login-form">
          <form action="http://localhost:4000/auth/login-user" method="post">
            <img src="../../../admin/branding/logo256.png" alt="Avatar" class="avatar" />
            <br />
            <h1 class="header">Sign In</h1>
            <br />
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Type your email here..."
            />
            <br />
            <br />
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              placeholder="Type your password here..."
            />
            <br />
            <br />
            <a href="/">Forgot password?</a>
            <div class="login-btn-container">
              <input class="login-btn" type="submit" value="Login" />
            </div>
            <p class="or">OR</p>
            <div class="third-party-sign-in">
              <div class="g-signin2 google" data-onsuccess="onSignIn"></div>
              <div
                class="fb-login-button facebook"
                data-width=""
                data-size="medium"
                data-button-type="login_with"
                data-layout="rounded"
                data-auto-logout-link="false"
                data-use-continue-as="false"
              ></div>
            </div>

            <a class="sign-up" href="/signup">
              Don't have an account? Create an account today!
            </a>
          </form>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=2832298687018922&autoLogAppEvents=1"
      nonce="S82ByYDR"
    ></script>
  </body>
</html>
