<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../styles/signup.css" />
  </head>

  <body>
    <main>
      <div class="row">
        <div class="column hero-banner">
          <img class="column hero-banner-image" src="https://i.ibb.co/mBnjFw3/laurel-wreath.png" alt="" />
        </div>
        <div class="column registration-form"> 
          <form action="http://localhost:4000/auth/register-user" method="post">
            <img src="../../../admin/branding/logo256.png" alt="Avatar" class="avatar" />
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Type your name here..."
            />
            <br />
            <br />
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Type your email here..."
            />
            <br />
            <br />
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              placeholder="Type your password here..."
            />
            <br />
            <br />
            <label for="password">Confirm Password</label>
            <input
              type="text"
              id="password"
              name="password"
              placeholder="Type your password here..."
            />
            <br />
            <br />
            <input class="submit-btn" type="submit" value="Sign Up" />
          </form>
          <div class="google-facebook">
            <hr class="horizontal-rule" />
            <div
              class="fb-login-button"
              data-width=""
              data-size="large"
              data-button-type="login_with"
              data-layout="rounded"
              data-auto-logout-link="false"
              data-use-continue-as="false"
            ></div>
            <div class="sign-in-container">
              <a class="sign-in" href="/">Already have an account?</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Main Script -->
    <script src="script.js" type="module"></script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=2832298687018922&autoLogAppEvents=1"
      nonce="S82ByYDR"
    ></script>
  </body>
</html>
