<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class='title'>User Setting</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       
    <!--Main CSS-->
    <link rel="stylesheet" href="../styles/user_setting.css" />
</head>

<body>
    <main class="main">
        <div class="title">
            <h1 class="title-text">User Settings </h1>
        </div>

        <!-- Main Content Container  -->

        <div class="user-setting-view">
            <div class="top-row">
                <button class="nav-btn">
                    <i class="arrow-up"></i>
                </button>
            </div> 
            <form action="" method="post">
                
                <div class="first-col">
                    <!--Academic Period category-->
                    <div class="academic-period">
                        <h5 class="category">Academic Period</h5>
                        <select id="period">
                            <option value="quarter">Quarter</option>
                            <option value="semester">Semester</option>
                        </select>
                    </div>
                    <!--First Day of Week category-->
                    <div class="first-day">
                        <h5 class="category">First Day of the Week</h5>
                        <select id="day">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </div>
                    <!--Language category-->
                    <div class="language">
                        <h5 class="category">Language</h5>
                        <!--TODO implement different languages translation-->
                        <select id="lang">
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                            <option value="chinese">Chinese</option>
                            <option value="vietnamese">Vietnamese</option>
                            <option value="korean">Korean</option>
                            <option value="tagalog">Togalog</option>
                        </select>
                    </div>
                
                    <!--TODO implement different color scheme-->
                    <!--Color Scheme category-->
                    <div class="appearance">
                        <h5 class="category">Appearance</h5>
                        <select id="color-scheme">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                            <option value="colorblind">Colorblind</option>
                        </select>
                    </div>
                </div>
                <div class="second-col">
                    <!--Font and Colors category-->
                    <!--TODO Font API? Get Font lists?-->
                    <!--TODO Color API? Get Color Lists? Color circle/wheel-->
                    <div class="fonts-and-color">
                        <h5 class="category">Fonts & Color</h5>
                        <div class="manage">
                            <!--Should open "fonts_and_color.html" file-->
                            <a href="fonts_and_color.html"><button class="manage-btn">Manage <img src="redirect.jpg"
                                        alt="redirect-img"></button></a>
                        </div>
                    </div>

                    <!--Labels creation category-->
                    <div class="labels-edit">
                        <p class="category">
                            Labels
                            <!--TODO replace src with real path of image-->
                            <input type="image" src="some/add_image.png" name="add-label" class="add-btn" id="add-label" />
                        </p>
                        <!--QUESTION: Folder selection? Predefined folder? User Created folders?-->
                        <p class="category">
                            Folder
                            <input type="image" src="some/add_image.png" name="add-to-folder" class="add-btn" id="add-label" />
                        </p>
                        <!--TODO replace src with real path of image-->
                        <label class="category" for="label-color">Pick label color</label>
                        <input type="color" id="label-color" name="label-color" class="color-btn">
                    </div>

                    <div class="save">
                        <input class="save-btn" type="submit" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
        <!-- Main Content End -->
    </main>
</body>

</html>