<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly</title>

    <link rel="stylesheet" href="../styles/weekly.css" />
</head>
<body>

    <!-- Left Navigation Bar  -->
    <div class="navigation">
        <!-- <img src="/admin/branding/logo500.png" alt="Two-Do logo" class="logo"> -->
        <h1 class="navigation-title">Index</h1>
        <h2 class="index-link"><a href="" class="link-text">Daily</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Weekly</a></h2>
        <h2 class="index-link"><a href="" class="link-text">Monthly</a></h2>
        <h2 class="current-link"><a href="" class="current-link-text">Quarterly</a></h2>
        <br>
        <h1 class="navigation-title">Collections</h1>
        <h2 class="collections-link"><a href="" class="link-text">Grocery List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Bucket List</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Finance Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Fitness Planner</a></h2>
        <h2 class="collections-link"><a href="" class="link-text">Reading Collection</a></h2>
        <button type="button" class="collections-button">v</button>

    </div>

    <!-- Weekly Main content  -->
    <div class='weekly-calendar'>
        <div class="column-day">
                <h3>MON</h3>
                <button class="date">3</button>
          </div>
        <div class="column-day"">
            <h3>TUES</h3>
            <button class="date">4</button>
        </div>
        <div class="column-day"">
            <h3>WED</h3>
            <button class="date">5</button>
        </div>
        <div class="column-day"">
            <h3>THURS</h3>
            <button class="date">6</button>
        </div>
        <div class="column-day"">
            <h3>FRI</h3>
            <button class="date">7</button>
        </div>
        <div class="column-day"">
            <h3>SAT</h3>
            <button class="date">8</button>
        </div>
        <div class="column-day"">
            <h3>SUN</h3>
            <button class="date">9</button>
        </div>
    </div>

    <div class="right-info-bar">
        <div class="calendar-region">
            <div class="month-selector"></div>
            Calendar
        </div>
        <div>
            <hr class="calendar-seperator">
            <h1 class="upcoming-header">Upcoming!</h1>
        </div>
        <div class="tasks-header">
            <h2 class="tasks-title">Tasks</h2>
            <button type="button" class="tasks-button">&gt</button>
        </div>
        <div class="tasks-content">Tasks</div>
        <div class="events-header">
            <h2 class="events-title">Events</h2>
            <button type="button" class="events-button">&gt</button>
        </div>
        <div class="events-content">Events</div>
    </div>


    
</body>

</html>