@font-face {
  font-family: 'Tw Cen MT Std Medium Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Tw Cen MT Std Medium Cond'), url('../assets/TwCenMTStdMediumCond.woff') format('woff');
}
/*shared  Elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://i.ibb.co/sFtX9zy/bg.png');
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 205px 555px auto 205px;
  grid-template-rows: 118px auto 80px;
  margin: 20px 20px;
}
/*shared  Elements End*/

:root {
  --mainColor: #162a47;
  --secondaryColor: #c69000;
  --borderColor1: #834900;
  --lightTextColor: #162a477c;
}
/* buttons */
.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: var(--mainColor);
  border-color: var(--mainColor);
  background: white;
  position: relative;
  top: 0px;
  left: 0px;
}

.add-button {
  padding: 0px;
  width: 50px;
}

/*Top Left Header*/
.page-heading {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  padding-left: 30px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #162a47;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.daily-date {
  text-decoration: underline;
  font-family: 'Tw Cen MT Std Medium Cond';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #162a47;
}
/*Bookmark*/
.bookmark {
  margin: 10px;
  margin-top: -50px;
  margin: -50px 50px 0px 10px;
}
.solid-bookmark-div {
  background-color: #00649c;
  width: 20px;
  height: 200px;
}
.bookmark-cutout-div {
  background-color: #edf2fa;
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  transform: rotate(-45deg);
}

/*Top Center Search Bar*/
.search-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  background-color: white;

  display: flex;
  padding: 10px;
  margin: 10px;
  width: 480px;
  height: 56px;
  border-radius: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#search-icon {
  margin: 8px;
  font-size: 20px;
  color: #0000006b;
}
.search-input {
  border-style: none;
  width: 80%;
}

/*Top Right Account Bar*/
.account-bar {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  background-color: white;
  border-radius: 200px;
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: space-evenly;
  justify-self: end;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: solid;
  background: white;
  position: relative;
  top: 0px;
  left: 0px;
}

.help-button,
.notification-button,
.account-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff00;
  border: none;
}

.help-button i,
.notification-button i,
.account-button i {
  font-size: 40px;
  color: #263449;
  cursor: pointer;
}

/*Left Navigation Area*/
.left-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 10px 10px;
  background-color: white;
  margin: -20px 0px -20px -20px;
  min-height: 1000px;
  height: 100vh;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

/*Right Navigation Area*/
.right-nav {
  background-color: white;
  height: 856px;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -20px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px 75px 65px 200px 65px 200px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.calendar-region {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto;
}

.month-selector {
  margin: 0px auto;
  background-color: #d5ab09;
  border-radius: 20px;
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.month-selector i {
  color: white;
}

.month-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
}

.right-month-button,
.left-month-button {
  background-color: #ffffff00;
  border: none;
}

.date-number {
  font-family: 'Tw Cen MT Std Medium Cond';
  width: 18px;
  height: 20px;
  text-align: center;
  color: #162a47;
}

.calendar-seperator {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}

.goals-label {
  font-family: Unica One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  display: flex;
}

.goals-element {
  font-size: 20px;
  line-height: 37px;
  text-align: left;
}

/*Central Content Area */
.daily-grid {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 1cm;
  min-width: 1050px;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 10fr 5fr;
  grid-template-rows: 60px auto;
  justify-items: start;
  align-items: start;
}

.section-header {
  font-family: Unica One;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: -0.02em;
  color: #162a47;
}

#events-header {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
}

#events-container {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  background-color: white;
}

#notes-header {
  grid-column: 2;
  grid-row: 1;
  width: 80%;
}
#notes-container {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}

#tasks-header {
  width: 150px;
}
#tasks-container {
  grid-column: 3;
  grid-row: 2;
  width: 100%;
}
#tasks-content {
  height: 40rem;
  width: 20rem;
  background: white;
  border: 1px var(--mainColor) solid;
  width: 100%;
}

#add-media-container {
  grid-column: 2;
  grid-row: 1;
  border-color: var(--mainColor);
  border: 1px solid #162a47;
  box-sizing: border-box;
  border-radius: 40px;
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 50px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#add-media-container > div {
  display: table;
}

#notes {
  height: 640px;
}

.time-col {
  height: 640px;
}
.timeGroup {
  height: 42.66px;
}

/* events time selector */
.ac-grid .time-picker {
  display: flex;
  user-select: none;
  -webkit-user-select: none;

  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 200%;
  box-sizing: border-box;
  hyphens: auto;
  border-radius: 5px;

  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  box-shadow: 1px 1px 0 #e0e0e0 inset;

  cursor: row-resize;
}

.time-picker .ac-grid .slots {
  cursor: pointer;
}

.time-picker .ac-grid .slots.slots-edit {
  cursor: row-resize;
}

.time-picker .ac-grid .slotGroup {
  position: relative;
  box-shadow: 1px 1px 0 #e0e0e0 inset;
}

.time-picker .ac-grid .col:last-child .slotGroup {
  border-right: 1px solid #e0e0e0;
}

.time-picker .ac-grid .slotGroup:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.time-picker .ac-grid .slot {
  position: relative;
  z-index: 2;
}

.time-picker .ac-grid .slot.selected {
  border: 1px dashed #000;
  box-sizing: border-box;
}

.timeGroup {
  border: 1px var(--mainColor) solid;
}

.timeSlot {
  font-family: Unica One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  height: 20px;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  color: var(--lightTextColor);
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  width: 100%;
}

button {
  cursor: pointer;
}

#task-overlay {
  visibility: hidden;
  z-index: 100;
  opacity: 100;
}

/* overlays */
#event-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 100;
  text-align: center;
  background-color: rgb(147, 181, 253);
  border-radius: 10px;
  font-size: 20px;
  height: 700px;
  width: 500px;
  opacity: 100;
}