/*shared  Elements*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://i.ibb.co/sFtX9zy/bg.png"); 
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 205px 555px auto 205px;
    grid-template-rows: 118px auto 80px;
    margin: 20px 20px;
}
/*shared  Elements End*/

:root {
    --mainColor:#162A47;
    --secondaryColor:#C69000;
    --borderColor1:#834900;
    --lightTextColor: #162a477c; 
}
/* buttons */
.button-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: var(--mainColor);
    border-color: var(--mainColor);
    background: white;
    position:relative;
    top: 0px;
    left: 0px;
}

.add-button {
    padding: 0px;
    width: 50px;
}

/*Top Left Header*/
.page-heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: -20px;
    margin: -20px 0px 0px;
}

.daily-date {
    text-decoration:underline;
    font-family: Tw Cen MT Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #162A47;
}

/*Central Content Area */
.daily-grid {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 30px;
    min-width: 1020px;
    min-height: 826px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px auto;
    justify-items: start;
    align-items: start;
}

.section-header {
    font-family: Unica One;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: -0.02em; 
    color: #162A47;
}

#events-header {
    grid-column: 1;
    grid-row: 1;
    width: 150px;
}

#events-container {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    background-color: white;
}

#notes-header {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
}
#notes-container {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
}

#tasks-header {
    width: 150px;
}
#tasks-container {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
}
#tasks-content {
    height: 40rem;
    width: 20rem;
    background: white;
    border: 1px var(--mainColor) solid;
    width: 100%;
}

#add-media-container {
    grid-column: 2;
    grid-row: 1;
    border-color: var(--mainColor);
    border: 1px solid #162A47;
    box-sizing: border-box;
    border-radius: 40px;
    background: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 50px;
    width: 220px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#add-media-container > div{
    display: table;
}

/* events time selector */
.ac-grid .time-picker {
    display: flex;
    user-select: none;
    -webkit-user-select: none;

    font-size: 10px;
    color: #fff;
    padding: 2px 5px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 200%;
    box-sizing: border-box;
    hyphens: auto;
    border-radius: 5px;

    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    box-shadow: 1px 1px 0 #e0e0e0 inset;

    cursor: row-resize;

}

.time-picker .ac-grid .slots {
    cursor: pointer;
}

.time-picker .ac-grid .slots.slots-edit {
    cursor: row-resize;
}

.time-picker .ac-grid .slotGroup {
    position: relative;
    box-shadow: 1px 1px 0 #e0e0e0 inset;
}

.time-picker .ac-grid .col:last-child .slotGroup {
    border-right: 1px solid #e0e0e0;
}

.time-picker .ac-grid .slotGroup:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.time-picker .ac-grid .slot {
    position: relative;
    z-index: 2
}

.time-picker .ac-grid .slot.selected {
    border: 1px dashed #000;
    box-sizing: border-box
}

.timeGroup {
    border: 1px var(--mainColor) solid;
}

.timeSlot {
    font-family: Unica One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    height: 20px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;    
    color: var(--lightTextColor);
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    width: 100%;
}