/*shared  Elements*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url("https://i.ibb.co/sFtX9zy/bg.png"); 
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .main {
    display: grid;
    grid-template-columns: 205px 555px auto 205px;
    grid-template-rows: 118px auto 80px;
    margin: 20px 20px;
  }
  /*shared  Elements End*/
  
  /*Top Left Title*/
  .title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #162a47;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  }
  .title-text{
    text-decoration:underline;
    font-family: Tw Cen MT Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #162A47;
  }

  /*Bookmark*/
.bookmark {
  margin: 10px;
  margin-top: -50px;
  margin: -50px 50px 0px 10px;
}
.solid-bookmark-div {
  background-color: #00649c;
  width: 20px;
  height: 200px;
}
.bookmark-cutout-div {
  background-color: #edf2fa;
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  transform: rotate(-45deg);
}
  
  /* Center Content Region */
  .content-area{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 100px;
    margin: 20px;
  }

  .index {
    display: grid;
    grid-template-columns: repeat(10, 83px);
    grid-template-rows: repeat(8, 80px); 
    row-gap: 6px;   
    align-content: start;
    align-items: start;

    overflow: auto;
    background-color: white;
    border-radius: 10px;
    height: 777px;
    min-width: 880px;
    width: 60%;
    text-align: center;
    margin: 50px auto;
    position: relative;
    padding: 30px 24px;
    box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.59);
  }

.entries-label {
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: start;
    background-color: white;

    display: flex;
    padding: 10px;
    width: 163px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Unica One;
    font-style: normal;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#0000006b;
}

.search-bar {
    grid-column: 3 / 10;
    grid-row: 1;
    justify-self: start;
    background-color: white;
    
    display: flex;
    padding: 10px;
    width: 664px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#search-icon{
    align-self: center;
    padding-right: 30px;
    margin: 8px;
    font-size: 20px;
    color:#0000006b;
}
.search-input{
    border-style:none;
    width: 80%;
}

.entry {
    background: url("https://i.ibb.co/fGJtG5v/bg-yellow.png");
    
    display: flex;
    width: 664px;
    height: 80px;
    border: solid #834900 0.5px;
    border-radius: 15px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: lighter;
    align-items: center;
    font-size: 26px;
    color:#834900;
}

.bookmark-gold {
    height: 80px;
    padding-left: 28.8px;
    margin-right: 72px;
}

#entry-1 {
    grid-column: 2 / 9;
    grid-row: 3;
    justify-self: start;
}

#entry-2 {
    grid-column: 2 / 9;
    grid-row: 4;
    justify-self: start;
}

#entry-3 {
    grid-column: 2 / 9;
    grid-row: 5;
    justify-self: start;
}

#entry-4 {
    grid-column: 2 / 9;
    grid-row: 6;
    justify-self: start;
}

#entry-5 {
    grid-column: 2 / 9;
    grid-row: 7;
    justify-self: start;
}

#entry-6 {
    grid-column: 2 / 9;
    grid-row: 8;
    justify-self: start;
}

/*Top Right Account Bar*/
.account-bar {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  background-color: white;
  border-radius: 200px;
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: space-evenly;
  justify-self: end;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: solid;
  background: white;
  position: relative;
  top: 0px;
  left: 0px;
}

.help-button,
.notification-button,
.account-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

.help-button i,
.notification-button i,
.account-button i {
  font-size: 40px;
  color: #263449;
}

/*Left Navigation Area*/
.left-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 10px 10px;
  background-color: white;
  margin: -20px 0px -20px -20px;
  min-height: 1000px;
  height: 100vh;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

/*Right Navigation Area*/
.right-nav {
  background-color: white;
  height: 856px;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -20px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px 75px 65px 200px 65px 200px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.calendar-region {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto;
}

.month-selector {
  margin: 0px auto;
  background-color: #d5ab09;
  border-radius: 20px;
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.month-selector i {
  color: white;
}

.month-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
}

.right-month-button,
.left-month-button {
  background-color: #ffffff00;
  border: none;
}

.date-number {
  font-family: Tw Cen MT;
  width: 18px;
  height: 20px;
  text-align: center;
  color: #162a47;
}

.calendar-seperator {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}

.goals-label {
  font-family: Unica One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  display: flex;
}

.goals-element {
  font-size: 20px;
  line-height: 37px;
  text-align: left;
}