/*shared  Elements*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://i.ibb.co/sFtX9zy/bg.png"); 
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 205px 555px auto 205px;
  grid-template-rows: 118px auto 80px;
  margin: 20px 20px;
}
/*shared  Elements End*/

/*Top Left Title*/
.title{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  padding-left: 30px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #162a47;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.title-text{
  text-decoration:underline;
  font-family: Tw Cen MT Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #162A47;
}

/* Center Content Region */
.content-area{
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100px;
  margin: 20px;
}
.profile {
  background-color: white;
  border-radius: 25px;
  height: 500px;
  min-width: 800px;
  width: 60%;
  display: block;
  text-align: center;
  margin: 50px auto;
  position: relative;
  padding: 30px 24px;
  box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.59);
}

form {
  display: inline-block;
  text-align: left;
  margin: 40px
}

.name,
.gender,
.email {
  float: left;
  margin-right: 80px;
}

.username,
.birthday,
.phone-number {
  float: left;
  color: #000;
}

input,
label {
  text-align: left;
  display: block;
}

label {
  color: grey;
}

input {
  background-color: #f4eac1;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  outline: none;
  color: #834900;
}

#name,
#username,
#gender,
#birthday,
#email,
#number {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border-width: 2px;
  width: 250px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.save {
  height: 55px;
  width: 600px;
  position: relative;
  vertical-align: center;
  text-align: center;
}

.save-btn {
  background-color: #c69000;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 175px;
  height: 50px;
  filter: drop-shadow(0px 5px 10px rgba(217, 173, 16, 0.4));
  text-align: center;
  margin: 25px auto auto;
}

.nav-btn {
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 2.5px 10px rgba(131, 73, 0, 0.87);
}

.arrow-down {
  border: solid #834900;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
}
