/*shared  Elements*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://i.ibb.co/sFtX9zy/bg.png"); 
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 205px 555px auto 205px;
  grid-template-rows: 118px auto 80px;
  margin: 20px 20px;
}
/*shared  Elements End*/

/*Top Left Title*/
.title{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  padding-left: 30px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #162a47;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.title-text{
  text-decoration:underline;
  font-family: Tw Cen MT Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #162A47;
}

/*Top Right Account Bar*/
.account-bar {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  background-color: white;
  border-radius: 200px;
  width: 150px;
  width: 201px;
  height: 59px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border:solid;
  background: white;
  position:relative;
  top: 0px;
  left: 0px;
}

.help-button,
.notification-button,
.account-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff00;
  border: none;
}

.help-button i,
.notification-button i,
.account-button i {
  font-size: 40px;
  color: #263449;
}

/*Left Navigation Area*/
.left-nav{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 10px 10px;
  background-color: white;
  margin: -20px 0px -20px -20px;
  min-height: 1000px;
  height: 100vh;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

/* Center Content Region */
.content-area{
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100px;
  margin: 20px;
}
.profile {  
  background-color: white;
  border-radius: 25px;
  height: 640px;
  min-width: 740px;
  /* width: 60%; */
  display: block;
  text-align: center;
  margin: 50px auto;
  position: relative;
  padding: 30px 24px;
  box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.59);
}

form {
  display: grid;
  grid-template-columns: repeat(8, 83px);
  grid-template-rows: repeat(8, 80px); 
  row-gap: 6px;   
  align-content: start;
  align-items: start;

  margin: 20px;
}

.divider {
  grid-column: 1 / 8;
  grid-row: 2;
  justify-self: stretch;

  text-align: start;
  color: #834900;
  font-family: Unica One;
  font-style: normal;
  font-weight: normal;

  width: 665px;
  margin-top: 40px;
  margin-bottom: 40px;

  background: white;
  box-shadow: 0px 5px 4px rgba(131, 73, 0, 0.2);
}

.name {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: start;
}

.email {
  grid-column: 6 / 8;
  grid-row: 1;
  justify-self: start;
}

.academic-period {
  grid-column: 1 / 2;
  grid-row: 3;
  justify-self: start;
  align-self: end;
}

.appearance {
  grid-column: 6 / 8;
  grid-row: 3;
  justify-self: start;
  align-self: end;
}

.first-day {
  grid-column: 1 / 2;
  grid-row: 4;
  justify-self: start;
  align-self: end;
}

.fonts-and-color {
  grid-column: 6 / 8;
  grid-row: 4;
  justify-self: start;
  align-self: end;
}

.language {
  grid-column: 1 / 2;
  grid-row: 5;
  justify-self: start;
  align-self: end;
}

.labels {
  grid-column: 6 / 8;
  grid-row: 5;
  justify-self: start;
  align-self: end;
}

label {
  color: grey;
}

input {
  background-color: #f4eac1;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  outline: none;
  color: #834900;
}

#name,
#email {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border-width: 2px;
  width: 250px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.save {
  grid-column: 1;
  grid-row: 6;
  justify-self: start;
  align-self: end;
  margin-left: 32px;

  height: 55px;
  width: 600px;
  position: relative;
  vertical-align: center;
  text-align: center;
}

.save-btn {
  background-color: #c69000;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 175px;
  height: 50px;
  filter: drop-shadow(0px 5px 10px rgba(217, 173, 16, 0.4));
  text-align: center;
  margin: 25px auto auto;
}

.category {
  text-align: left;
  color: grey;
}

select{
  float: left;
  margin-right: 130px;
  background-color: #f4eac1;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  outline: none;
  color: #834900;
}

.manage-btn {
  background-color: #f4eac1;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  outline: none;
  color: #834900;
}

/* Right Navigation Bar | Version B, (containing calndar, task, and events)*/
.right-nav {
  background-color: white;
  height: 856px;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -20px;
  display:grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px 75px 65px 200px 65px 200px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.calendar-region{
  width: 200px;
  height:200px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto;
}

.month-selector {
  margin: 0px auto;
  background-color: #d5ab09;
  border-radius: 20px;
  color:white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.month-selector i {
  color: white;
}

.month-days{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
}
.right-month-button,
.left-month-button {
  background-color: #ffffff00;
  border: none;
}

.date-number {
  font-family: Tw Cen MT;
  width: 18px;
  height: 20px;
  text-align: center;
  color:#162a47
}

.calendar-seperator{
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}

.tasks-header, .events-header{
  display: flex;
  justify-content:left;
  align-items: baseline;
  flex-wrap: wrap;
}
.tasks-title, .events-title{
  font-family: Tw Cen MT Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 37px;
}

.tasks-button, .events-button{
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 4px;
  border:solid;
}
.tasks-content, .events-content{
  width: 200px;
  height:200px;
}
.upcoming-header{
  font-family: Unica One;
  font-style:normal;
  font-weight:normal;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}
