/*shared  Elements*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://i.ibb.co/sFtX9zy/bg.png"); 
    min-height: 100vh;
    min-width: 100vw;
}

.main {
    display: grid;
    grid-template-columns: 205px 555px auto 205px;
    grid-template-rows: 118px auto 80px;
    margin: 20px 20px;
}
/*shared  Elements End*/

/*Top Left Title*/
.title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #162a47;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.title-text{
    text-decoration:underline;
    font-family: Tw Cen MT Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #162A47;
}

/*Bookmark*/
.bookmark{
    margin: 10px;
    margin-top: -50px;
    margin: -50px 50px 0px 10px;
}
.solid-bookmark-div{
    background-color: #00649c;
    width: 20px;
    height: 200px;
}
.bookmark-cutout-div{
    background-color: #edf2fA;
    width:20px;
    height: 20px;
    position: relative;
    top: -5px;
    transform: rotate(-45deg);
}

/* Navigation Buttons left and right */
.nav-btn {
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    margin: 9px;
    background: #ffffff;
    box-shadow: 0px 2.5px 10px ;
  }
  
  .arrow-left {
    border: solid #162A47;
    border-width: 3px 3px 0 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(225deg);
  }
  
  .arrow-right{
    border: solid #162A47;
    border-width: 0 0px 3px 3px;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(225deg);
  }

/*Top Center Search Bar*/
.search-bar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    background-color: white;
    
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 480px;
    height: 56px;
    border-radius: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#search-icon{
    margin: 8px;
    font-size: 20px;
    color:#0000006b
}
.search-input{
    border-style:none;
    width: 80%;
}

/*Top Right Account Bar*/
.account-bar {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 200px;
    width: 150px;
    width: 201px;
    height: 59px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.help-button,
.notification-button,
.account-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #b1050500;
    border: none;
}

.help-button i,
.notification-button i,
.account-button i {
    font-size: 40px;
    color: #263449;
}

/*Left Navigation Area*/
.left-nav{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 10px 10px;
    background-color: white;
    margin: -20px 0px -20px -20px;
    min-height: 1000px;
    height: 100vh;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

/*Right Navigation Area*/
.right-nav {
    background-color: white;
    height: 856px;
    grid-column: -2 / -1;
    grid-row: 2 / 3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -20px;
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px 75px 65px 200px 65px 200px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.calendar-region{
    width: 200px;
    height:200px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 30px auto;
}
  
.month-selector {
    margin: 0px auto;
    background-color: #d5ab09;
    border-radius: 20px;
    color:white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.month-selector i {
    color: white;
}
  
.month-days{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
}

.right-month-button,
.left-month-button {
    background-color: #ffffff00;
    border: none;
}
  
.date-number {
    font-family: Tw Cen MT;
    width: 18px;
    height: 20px;
    text-align: center;
    color:#162a47
}
  
.calendar-seperator{
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
}

.goals-label{
    font-family: Unica One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    display: flex;
}

.goals-element{
    font-size: 20px;
    line-height: 37px;
    text-align: left;
}

/* Weekly content */
.weekly-view{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 30px;
    min-width: 1050px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 10px;
    justify-items: center;
}

/* Float seven columns side by side */
.column-day {
    /* float: left; */
    width: 100%;
    /* padding: 0 10px; */
    box-shadow: 0px 5px 15px rgba(131, 73, 0, 0.5);
    border-radius: 29px;
    padding: 1px;
    text-align: center;

    /* max-height: 1000px; */
    height: 600px;
    background-color: #FFFFFF;
  }

.day-title{
    font-family: Unica One;
    font-style:normal;
    font-weight:normal;
    font-size: 30px;
    line-height: 47px;
}

button.date {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    border-color: #162A47;
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;

    margin: auto;
    float: left;
    position: relative;
    left: 43%;
     
}

/* button.date:hover {
    background: rgba(238, 238, 238, 0.194);
} */
